@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$land: #2faa9f;
$background: #ebebeb;

html,
body {
  text-align: center;
  min-width: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: $background;
  position: relative;
  display: inline-block;
}
.container {
  display: grid;
  grid-template-columns: 55% 45%;
  grid-gap: 10px;
  position: relative;
  max-width: 70%;
  margin: auto;
}

.st0,
.land,
.circle {
  fill: $land;
  fill-opacity: 1;
  stroke: $background;
  stroke-opacity: 1;
  stroke-width: 0.5;
  stroke-miterlimit: 3.97446823;
  stroke-dasharray: none;
}

.flag {
  padding-top: 0;
  font-size: 14vw;
  line-height: 0.8em;
}

.map,
#flag,
#capital,
#currency {
  display: inline-grid;
  padding: 10px;
  margin: 10px;
  border: solid 2px;
  p,
  img {
    animation: fade-in 3s forwards;
  }
  p {
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  animation: fade-in 3.5s forwards;
}

.map {
  grid-row-start: 1;
  grid-row-end: 5;
}

#flag {
  grid-row-start: 3;
  grid-row-end: 5;
}

#capital {
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 10px;
}

#currency {
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 10px;
}

span {
  font-size: 24px;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  body,
  html {
    max-width: 90%;
    overflow-x: hidden;
  }
  .container {
    display: inline-block;
    max-width: 90%;
  }

  .map {
    display: inline-block;
    margin: auto;
    width: 90%;
    padding: 10px;
    border: none;
  }

  #flag,
  #capital,
  #currency {
    display: inline-block;
    width: 90%;
    margin: auto;
    padding: 10px;
  }
  #currency,
  #flag {
    border-top: none;
  }
}

.footer {
  position: relative;
  width: 400px;
  margin: auto;
  padding-top: 20px;
  p {
    font-size: 11px;
  }
  button {
    padding: 5px;
    border-radius: 10px;
  }
}
