.fade-in-l {
  opacity: 0;
  transform: translateX(-50%);
  transition: opacity 250ms ease-in, transform 1000ms ease;
}
.fade-in-r {
  opacity: 0;
  transform: translateX(50%);
  transition: opacity 250ms ease-in, transform 1000ms ease;
}

.fade-in-l.appear {
  opacity: 1;
  transform: translateX(0);
}

.fade-in-r.appear {
  opacity: 1;
  transform: translateX(0);
}
